<div class="popup">
  <div class="content .popupVisible">
    <%= form_for current_user,:url => change_password_user_accounts_path,:remote => true,:method => :put do |f| %>
      <% if current_user.errors.any? %>
        <ul>
          <% current_user.errors.each do |attr,msg| %>
            <li style="color:red;"><%= attr %>&nbsp;<%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="settContainer">
        <h2>Change Password</h2>
        <div class="passwordBox">
          <span>Old Password <div class="smalltxt">Forgot your password?</div>   </span>
          <div class="textbox">
            <%= f.password_field :current_password %>
          </div>
        </div>
        <div class="passwordBox">
          <span>New Password</span>
          <div class="textbox">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="passwordBox">
          <span>New Password, Again</span>
          <div class="textbox">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="footerbox">
          <%= f.submit "Change Password",:id => "spw",:class => "button_n" %>
          <a href='/' class="button_n">Cancel</a>
        </div>

      </div>
    <% end %>
  </div>
  <%= link_to image_tag("closelabel.png",:class=>"close_image", :title=>"close"),"#",:id => "close_password_form",:class => "close" %>
</div>
<script>
  $("#close_password_form").click(function() {
    $("#facebox_overlay").hide();
    $("#facebox").hide();
    return false;
  });
</script>